# Project 6: Importing & Merging many files (Baby Names Dataset) - Part 1

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 6 (Part 1) on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Getting the Files from the Web

1. __Go__ to https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data and __download__ and __unzip__ the file.

## Importing one File & Understanding the Data Structure

2. __Load__ the file __"yob1880.txt"__ into Pandas and __inspect__.

In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('yob1880.txt', header = 0, names = ['name', 'gender', 'count'])

In [9]:
df.head()

        name gender  count
0       Anna      F   2604
1       Emma      F   2003
2  Elizabeth      F   1939
3     Minnie      F   1746
4   Margaret      F   1578

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 3 columns):
name      1999 non-null object
gender    1999 non-null object
count     1999 non-null int64
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

## Importing & merging many files (easy case)

3. __Load__ all files (yob????.txt) and __merge/concatenate__ all files into one Pandas DataFrame. Make sure you add the __column "Year"__.

4. Create a __RangeIndex__ and __save__ the DataFrame (with columns "Year", "Name", "Gender" and "Count") in a new csv-file.

In [27]:
years = np.linspace(1880,2018, 2018-1880+1, dtype = int)
df = pd.DataFrame()
for year in years:
    data = pd.read_csv('yob{}.txt'.format(year),  header = 0, names = ['name', 'gender', 'count'])
    data['year'] = year
    df = df.append(data)

In [ ]:
df.groupby('name')['count'].nlargest(20)

In [35]:
df.to_csv('baby_names.csv')

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 2.__ <br>
You can use pd.read_csv(). You need to add appropriate column headers (e.g. "Name", "Gender", "Count")

__Hints for 3.__<br>
Use a for loop and pd.concat().