# Project 6: Importing & Merging many files (Baby Names Dataset) - Part 2

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 6 (Part 2) on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Getting the Files from the Web

1. __Go__ to https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-data-by-state-and-district-of- and __download__ and __unzip__ the file.

In [7]:
import pandas as pd
import numpy as np
from glob import glob

## Importing one File & Understanding the Data Structure

2. __Load__ the file __"AK.txt"__ into Pandas and __inspect__.

In [15]:
ak = pd.read_csv('AK.txt', header = 0, names = ['gender', 'year', 'name', 'count'])
ak

   gender  year      name  count
AK      F  1910     Annie     12
AK      F  1910      Anna     10
AK      F  1910  Margaret      8
AK      F  1910     Helen      7
AK      F  1910     Elsie      6
..    ...   ...       ...    ...
AK      M  2018      Theo      5
AK      M  2018    Thorin      5
AK      M  2018   Trenton      5
AK      M  2018    Victor      5
AK      M  2018      Zion      5

[28527 rows x 4 columns]

## The glob module

3. From glob import glob.

4. __Find__ all filenames with the structure __"A?.txt"__ in your current directory (? is a single charcter wildcard).

5. __Find__ all filenames with the following structure in your current directory and save the resulting list in a variable:

In [13]:
files = glob('*.txt')

In [16]:
df = pd.DataFrame()
for file in files:
    data = pd.read_csv(file, header = 0, names = ['gender', 'year', 'name', 'count'])
    df = df.append(data)

In [22]:
df = df.reset_index().rename(columns = {'index': 'state'})

# Importing & merging many Files (complex case)

6. __Load__ all files (*.txt) and __merge/concatenate__ all files into one Pandas DataFrame.

7. Create a __RangeIndex__ and __save__ the DataFrame (with columns "State", "Gender", "Year", "Name", "Count") in a new csv-file.

In [26]:
df.gender = df.gender.astype("category")
df.state = df.state.astype("category")

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 2.__ <br>
You can use pd.read_csv(). You need to add appropriate column headers (e.g. "State", "Gender", "Year", "Name", "Count")

__Hints for 4. and 5.__<br>
Use glob()

__Hints for 6.__<br>
Use a for loop and pd.concat().